In [1]:
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import WordNetLemmatizer

In [2]:
data = pd.read_csv('dirty_dataset.csv')
data.drop(columns=['id'], inplace = True)
data.sample(5)

                                                 text
26  I c u got skillz üòé check this: <a href='https:...
22     that movie wuz da bomb!! <i>totally lit</i> üî•üî•
91       Imho, this sux... totally not kewl!! üòë #fail
94          ikr!!! u always kno how 2 cheer me up ü•≤‚ù§Ô∏è
20       Imho, this sux... totally not kewl!! üòë #fail

In [3]:
data['text'] = data['text'].str.lower()
data.sample(5)

                                                 text
75  omg! i <b>luv</b> this!!! üòÇüòÇ check this out: h...
9     dis app iz buggin out üò© gonna uninstall... asap
97  rly enjoyed the party last nite, thx 4 the inv...
61  omg! i <b>luv</b> this!!! üòÇüòÇ check this out: h...
69     that movie wuz da bomb!! <i>totally lit</i> üî•üî•

In [4]:
full_forms = {
    "omg": "oh my god",
    "luv": "love",
    "idk": "I don't know",
    "rn": "right now",
    "w8": "wait",
    "lol": "laugh out loud",
    "u": "you",
    "r": "are",
    "gr8": "great",
    "imho": "in my humble opinion",
    "sux": "sucks",
    "kewl": "cool",
    "2nite": "tonight",
    "hmu": "hit me up",
    "wuz": "was",
    "da": "the",
    "lit": "amazing",
    "smh": "shaking my head",
    "y'all": "you all",
    "tbh": "to be honest",
    "rn": "right now",
    "btw": "by the way",
    "yo": "hey",
    "dat": "that",
    "iz": "is",
    "af": "as hell",
    "rly": "really",
    "thx": "thanks",
    "c": "see",
    "kno": "know",
    "dis": "this",
    "ikr": "I know right",
    "vacay": "vacation",
    "nite": "night",
    "asap": "as soon as possible",
    "prjct": "project",
    "gonna": "going to"
}
# def correct_full(text):
#     words = text.split()
#     corrected_words = [full_forms.get(word,word) for word in words]
#     corrected_text = ''.join(corrected_words)
#     return corrected_text
data['text'] = data['text'].apply(lambda x: [full_forms.get(word, word) for word in x])
data.sample(5)

                                                 text
36  [w, a, n, n, a,  , g, o,  , o, you, t,  , 2, n...
83  [l, o, l, ,,  , you,  , are,  , t, h, e,  , b,...
32  [d, i, s,  , a, p, p,  , i, z,  , b, you, g, g...
80  [i, k, are, !, !, !,  , you,  , a, l, w, a, y,...
18  [i, m, h, o, ,,  , t, h, i, s,  , s, you, x, ....